{% extends "layout.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosLoginRegister.css') }}">
    <script src="{{ url_for('static', filename='js/vallog.js') }}"></script>


</head>

<body>
    <form class="formulario" action="/mercaya" method="POST">

        <h1>Iniciar Sesión</h1>
        <div class="contenedor">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endif %}
            <div class="input-contenedor"> 
                <i class="fas fa-id-card icon"></i>
                <input type="text" class="cedula" name="cedula" placeholder="Número de Cédula" autofocus>   
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" class="contraseña" name="contrasena" placeholder="Contraseña">

            </div>
            <input type="button" value="Iniciar Sesión" class="button btnAction">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿No tienes una cuenta? <a class="link" href="{{ url_for('register') }}">Registrate </a></p>
        </div>
    </form>
</body>

</html>
{% endblock %}