{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosLoginRegister.css') }}">
</head>

<body>
    <form class="formulario" action="/Regis" method="POST">
        
        <h1>Registrate</h1>
        <div class="contenedor" >
            {% if admin %}
            <div class="alert alert-danger" role="alert">
                {{ admin }}
              </div>
            {% endif %}
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name="nombre" class="nombre" 
                    placeholder="Nombre Completo" autofocus required>

            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endif %}
            <div class="input-contenedor">
                <i class="fas fa-id-card icon"></i>
                <input type="text" name="cedula" class="cedula"
                    placeholder="Número de Cédula" required>
                
            </div>

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="correo" class="correo"
                    placeholder="Correo Electronico" required>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-mobile icon"></i>
                <input type="text" name="telefono" class="telefono"
                    placeholder="Número telefonico" required>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="contrasena" class="contraseña"
                    placeholder="Contraseña" required>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" class="rcontraseña"
                    placeholder="Repetir Contraseña" required>
            </div>
        </div>
            
        <div class="contenedor" >
            <div class="input-contenedor">
                <i class="fas fa-credit-card icon"></i>
                <input type="text" name="tarjeta" class="tarjeta"
                    placeholder="Tarjeta de credito" required>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="codigo" class="codigo"
                    placeholder="Código" required>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text" name="fecha" class="fecha" 
                placeholder="Vencimiento - Mes / Año" required>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-map-marked-alt icon"></i>
                <input type="text" name="direccion" class="direccion"
                    placeholder="Dirección" required>

            </div>
        </div>
        
        <input type="submit" value="Registrate" class="button btnAction">
        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        <p>¿Ya tienes una cuenta?<a class="link" href="{{ url_for('login') }}"> Iniciar Sesion</a></p>

    </form>
</body>

</html>





{% endblock %}