{% extends "layout.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosLoginRegister.css') }}">


</head>

<body>
    <form class="formulario" action="{{ url_for('mercaya') }}">

        <h1>Terminar Registro</h1>

        <p>Estas a un paso de empezar a comprar <br>Solo necesitamos estos datos</p>
        <div class="contenedor">



            <div class="input-contenedor">
                <i class="fas fa-credit-card icon"></i>
                <input type="text" placeholder="Tarjeta de credito">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Código">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text" placeholder="Vencimiento - Mes / Año">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-map-marked-alt icon"></i>
                <input type="text" placeholder="Dirección">

            </div>

            <input type="submit" value="Finalizar" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        </div>
    </form>
</body>

</html>
{% endblock %}